<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
		backupGlobals="false"
		backupStaticAttributes="false"
		colors="true"
		verbose="true"
		testdox="true"
		bootstrap="./vendor/autoload.php"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">./Tests</directory>
		</testsuite>
	</testsuites>
	<coverage includeUncoveredFiles="true">
		<include>
			<directory suffix=".php">./Classes</directory>
		</include>
	</coverage>
</phpunit>
